/* variable location */
:root {
    /* Couleur general du texte */
    --main-text-color: #000;
    --secondary-text-color: #3A3A3A;
    --light-text-color: #ccc;
    --darker-text-color: #a0a0a0;
    --neutral-text-color: #fff;
    --bg-text-color: #4d119c;
    /* Couleur general du design */
    --main-background-color: #292961;
    --light-background-color: #4B4B7E;
    --dark-background-color: #1C1C5A;
    --neutral-backgroud-color: #fff;
    --main-bg-color: #fe1493;
    /* Space configuration */
    --container-fuild-spacing: 2rem;
    --h1-size: 2.1rem;
    --h1-span-size: 2.1rem;
    --logo-text-space: 1rem;
}

/* header */

/* Configuration */
.header{
    position: relative;
    width: 100%;
    z-index: 9999;
    background: var(--main-background-color);
}

 /* Navigation */
.nav{
    padding-top: 0.4rem;
    padding-bottom: 0.5rem;
 }

.container-fluid {
    padding-right: var(--container-fuild-spacing);
    padding-left: var(--container-fuild-spacing);
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Left bar */
.logo{
    display: flex;
    align-items: center;
}

.logo h1{
    display: flex;
    align-items: center;
    font-size: var(--h1-size);
    color: var(--neutral-text-color);
    margin-right: var(--logo-text-space);
}

.logo h1 span{
    color: var(--main-bg-color);
    font-size: var(--h1-span-size);
}

/* Left bar */
.nav-list-left{
    display: flex;
    align-items: center;
}

.nav-list-right{
    display: flex;
    align-items: center;
}

.nav-link{
    display: flex;
}

.nav-item:not(:last-child){
    margin-right: 0.5rem;
}

.top-nav .nav-item:first-child{
    margin-right: 0.5rem;
}

.nav-link{
    color: var(--light-text-color);
    padding: 0.8rem 1rem;
    border-radius: 0.3rem;
    transition: all 300ms ease-in-out;
}

.nav-link:link,
.nav-link:visited{
    color: var(--light-text-color);
    padding: 0.8rem 1rem;
    border-radius: 0.3rem;
    transition: all 300ms ease-in-out;
}

.nav-link:hover{
    color: var(--neutral-text-color);
    background-color: var(--light-background-color);
}

.nav-link:active{
    color: var(--light-background-color);
    background-color: var(--neutral-backgroud-color);
}

/* Hamburger */
.hamburger{
    display: none;
}

.top-nav{
    display: none;
}

/* Nav bar responsivity */
@media only screen and (max-width: 968px) {
    .nav-items{
        display: none;
    }
}

.nav-list-right .top-nav .nav-item{
    background-color: var(--dark-background-color);
    margin-right: 2rem;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .menu{
        position: relative;
        left : -100%;
        transition: all 700ms ease-in-out;
        z-index: 100;
    }

    .menu.show{
        left : 0;
    }

    .nav-list-right.show{
        display: flex;
    }

    .logo.show{
        display: none;
    }

    .top-nav.show{
        display: flex;
    }

    .hamburger{
        display: block;
        color: var(--neutral-backgroud-color);
        font-size: 2.5rem;
        padding: 0.5rem;
        cursor: pointer;
    }

    .nav-list-left.show{
        display: none;
    }

    .nav-list-right{
        display: none;
    }
}

/* Font awesome spacing */
.icon{
    margin-left: 0.5rem;
}

.icon-single{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.icon-action{
    margin-right: 0.5rem;
}

.input-icons{
    margin-right: 0.5rem;
}

/* input navigation */
.nav-search {
    color: var(--neutral-text-color);
    height: 4.1rem;
    border: 1px solid var(--light-background-color);
    background-color: var(--light-background-color);
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 1.5rem;
    padding-right: 15rem;
}

.nav-search::placeholder {
    color: var(--light-text-color);
}

.nav-search:focus::placeholder {
    color: var(--darker-text-color);
}

.nav-search:focus{
    color: var(--main-text-color);
    background-color: var(--neutral-backgroud-color);
}

/* search icon */
.input-icons span{
    color: var(--light-text-color);
}

.icon-search {
    position: absolute;
    transform: translateX(-4rem);
    padding: 9px;
}