/* variable location */
:root {
    /* Couleur general du texte */
    --main-text-color: #000;
    --secondary-text-color: #3A3A3A;
    --light-text-color: #ccc;
    --neutral-text-color: #fff;
    --bg-text-color: #4d119c;
    /* Couleur general du design */
    --main-background-color: #292961;
    --light-background-color: #4B4B7E;
    --dark-background-color: #1C1C5A;
    --neutral-backgroud-color: #fff;
    --main-bg-color: #fe1493;
    /* Space configuration */
    --container-fuild-spacing: 2rem;
    --h1-size: 2.1rem;
    --h1-span-size: 3rem;
    --logo-text-space: 1rem;
}

/* header */

/* Configuration */
.header{
    position: relative;
    width: 100%;
    z-index: 9999;
    background: var(--main-background-color);
}

/* Navigation */
.nav{
    padding-top: 0.2rem;
    padding-bottom: 0.5rem;
}

.container-fluid {
    padding-right: var(--container-fuild-spacing);
    padding-left: var(--container-fuild-spacing);
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Left bar */
.logo{
    display: flex;
    align-items: center;
}

.logo h1{
    display: flex;
    align-items: center;
    font-size: var(--h1-size);
    color: var(--neutral-text-color);
    margin-right: var(--logo-text-space);
}

.logo h1 span{
    color: var(--main-bg-color);
    font-size: var(--h1-span-size);
}


/* Hide logo */
.top-nav{
    display: none;
}

/* Left bar */
.nav-list{
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child){
    margin-right: 0.5rem;
}

.nav-link:link,
.nav-link:visited{
    color: var(--light-text-color);
    padding: 0.8rem 1rem;
    border-radius: 0.3rem;
    transition: all 300ms ease-in-out;
}

.nav-link:hover{
    color: var(--neutral-text-color);
    background-color: var(--light-background-color);
}

.nav-link:active{
    color: #4B4B7E;
    background-color: var(--neutral-backgroud-color);
}


/* Hamburger */
.hamburger{
    display: none;
}

/* Nav bar responsivity */
@media only screen and (max-width: 768px) {
    .menu{
        position: fixed;
        top: 0;
        left: -100%;
        width: 80%;
        max-width: 40rem;
        height: 100%;
        background-color: var(--neutral-backgroud-color);
        transition: all 500ms ease-in-out;
        z-index: 100;
    }

    .menu.show{
        left : 0;
    }

    .top-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--main-bg-color);;
        padding: 0.7rem 1.6rem;
    }

    .top-nav .logo span{
        color: var(--neutral-text-color);
    }

    .top-nav .close{
        font-size: 2.5rem;
        color: var(--neutral-text-color);
        padding: 1rem;
        cursor: pointer;
    }

    .hamburger{
        display: block;
        color: var(--neutral-text-color);
        font-size: 2.5rem;
        padding: 0.5rem;
        cursor: pointer;
    }

    .nav-list{
        flex-direction: column;
        align-items: start;
        padding: 1rem 1.6rem;
    }

    .nav-link:link,
    .nav-link:visited{
        display: block;
        font-size: 1.7rem;
        color: #222;
        padding: 1rem 0;
    }

    .nav-link:hover{
        color: var(--neutral-text-color);
    }
}

/* Font awesome */
.icon{
    margin-left: 0.5rem;
}

.icon-action{
    margin-right: 0.5rem;
}

/* input navigation */
.nav-search {
    width: 100%;
    padding: 12px 20px;
    color: var(--neutral-text-color);
    border: 1px solid var(--light-background-color);
    background-color: var(--light-background-color);
    border-radius: 4px;
    box-sizing: border-box;
}

.nav-search::placeholder {
    color: var(--light-text-color);
}

.nav-search:focus{
    color: var(--main-text-color);
    background-color: var(--neutral-backgroud-color);
}

/* search icon */
.input-icons span{
    color: var(--light-text-color);
}

.icon-search {
    position: absolute;
    transform: translateX(-4rem);
    padding: 8px;
}